<select [(ngModel)]="chapter">
  <option value="" disabled>--- Select chapter ---</option>

  <!-- Day66-01Nov -->
  <option disabled>--- 01 November ---</option>
  <option value="data-binding">Data-binding</option>
  <option value="diy1-2">Do it yourself 1 & 2</option>

  <!-- Day67-06Nov -->
  <option disabled>--- 06 November ---</option>
  <option value="structural-directives">Structural Directives</option>
  <option value="diy3">Do it yourself 3</option>

  <!-- Day68-08Nov -->
  <option disabled>--- 08 November ---</option>
  <option value="todo">Angular To-Do app</option>
  <option value="component-interaction">Component interaction</option>
  <option value="diy4">Do it yourself 4</option>
  <option value="lifecycle">Lifecycle, referencing & content projection</option>

  <!-- Day69-13Nov -->
  <option disabled>--- 13 November ---</option>
  <option value="lifecycle">Lifecycle</option>
  <option value="todo-interaction">Todo interaction</option>
  <option value="counter-with-services">Counter with services</option>
  <!-- <option value="TBA">Dependency injection</option> -->

  <!-- Day70-15Nov -->
  <option disabled>--- 15 November ---</option>
  <option value="todo-with-services">Todo with services</option>
  <option value="observables">RxJS: Observables & Subjects</option>
</select>

<ng-container [ngSwitch]="chapter">
  <ng-container *ngSwitchDefault>
    <h1>NewTech - Angular Course Project</h1>
    <p>
      Use the <b>top-left select element</b> to switch between implementations
      and demos for each chapter in the Angular module.
    </p>
  </ng-container>

  <!-- Day66-01Nov -->
  <app-data-binding *ngSwitchCase="'data-binding'"></app-data-binding>
  <app-diy1 *ngSwitchCase="'diy1-2'"></app-diy1>

  <!-- Day67-06Nov -->
  <app-structural-directives
    *ngSwitchCase="'structural-directives'"
  ></app-structural-directives>
  <app-plus-minus-game *ngSwitchCase="'diy3'"></app-plus-minus-game>

  <!-- Day68-08Nov -->
  <app-todo-ex *ngSwitchCase="'todo'"></app-todo-ex>
  <app-component-interaction
    *ngSwitchCase="'component-interaction'"
  ></app-component-interaction>
  <app-input-output *ngSwitchCase="'diy4'"></app-input-output>
  <app-lifecycle *ngSwitchCase="'lifecycle'"></app-lifecycle>

  <!-- Day69-13Nov -->
  <app-lifecycle *ngSwitchCase="'app-lifecycle'"></app-lifecycle>
  <!-- <app-dependency-injection *ngSwitchCase="''"></app-dependency-injection> -->
  <app-todo-interaction
    *ngSwitchCase="'todo-interaction'"
  ></app-todo-interaction>
  <app-counter-with-services
    *ngSwitchCase="'counter-with-services'"
  ></app-counter-with-services>

  <!-- Day70-15Nov -->
  <app-todo-with-services
    *ngSwitchCase="'todo-with-services'"
  ></app-todo-with-services>
  <app-observables *ngSwitchCase="'observables'"></app-observables>
</ng-container>
