<select [(ngModel)]="chapter">
  <option value="" disabled>--- Select chapter ---</option>

  <!-- Day66-01Nov -->
  <option disabled>--- 01 November ---</option>
  <option value="data-binding">Data-binding</option>
  <option value="diy1-2">Do it yourself 1 & 2</option>

  <!-- Day67-06Nov -->
  <option disabled>--- 06 November ---</option>
  <option value="structural-directives">Structural Directives</option>
  <option value="diy3">Do it yourself 3</option>

  <!-- Day68-08Nov -->
  <option disabled>--- 08 November ---</option>
  <option value="todo">Angular To-Do app</option>
  <option value="component-interaction">Component interaction</option>
  <option value="diy4">Do it yourself 4</option>
  <option value="lifecycle">Lifecycle, referencing & content projection</option>

  <!-- Day69-13Nov -->
  <option disabled>--- 13 November ---</option>
  <option value="lifecycle">Lifecycle</option>
  <option value="todo-interaction">Todo interaction</option>
  <option value="counter-with-services">Counter with services</option>
  <!-- <option value="TBA">Dependency injection</option> -->

  <!-- Day70-15Nov -->
  <option disabled>--- 15 November ---</option>
  <option value="todo-with-services">Todo with services</option>
  <option value="observables">RxJS: Observables & Subjects</option>
  <option value="plus-minus-service">Plus-Minus with services</option>
  <option value="rxjs">RxJS: Observables & Subjects</option>
  <option value="morse-code">RxJS Example: Morse Code</option>

  <!-- Day71-20Nov -->
  <option disabled>--- 20 November ---</option>
  <option value="diy1-component">Routing Demo</option>

  <!-- Day72-22Nov -->
  <option disabled>--- 22 November ---</option>
  <option value="more-routing">More Routing</option>

  <!-- Day73-27Nov -->
  <option disabled>--- 27 November ---</option>
  <option value="pipes">Pipes</option>

  <!-- Day74-29Nov -->
  <option disabled>--- 29 November ---</option>
  <option value="pipes-exercise">Pipes Exercise</option>
  <option value="template-driven-forms">Angular Forms: Template-Driven</option>
  <option value="reactive-forms">Angular Forms: Reactive</option>

  <!-- Day75-04Dec -->
  <option disabled>--- 04 December ---</option>
  <option value="reactive-forms-exercise">reactive form exercise</option>

  <!-- Day76-06Dec -->
  <option disabled>--- 06 December ---</option>
  <option value="firebase">firebase intro</option>
  <option value="http-client">http-client</option>

  <!-- Day77-11Dec -->
  <option disabled>--- 11 December ---</option>
  <option value="todo-firebase">todo app w firebase</option>

  <!-- Day78-13Dec -->
  <option disabled>--- 13 December ---</option>
  <option value="angular-material">angular material</option>
</select>

<ng-container [ngSwitch]="chapter">
  <ng-container *ngSwitchDefault>
    <h1>NewTech - Angular Course Project</h1>
    <p>
      Use the <b>top-left select element</b> to switch between implementations
      and demos for each chapter in the Angular module.
    </p>
  </ng-container>

  <!-- Day66-01Nov -->
  <app-data-binding *ngSwitchCase="'data-binding'"></app-data-binding>
  <app-diy1 *ngSwitchCase="'diy1-2'"></app-diy1>

  <!-- Day67-06Nov -->
  <app-structural-directives
    *ngSwitchCase="'structural-directives'"
  ></app-structural-directives>
  <app-plus-minus-game *ngSwitchCase="'diy3'"></app-plus-minus-game>

  <!-- Day68-08Nov -->
  <app-todo-ex *ngSwitchCase="'todo'"></app-todo-ex>
  <app-component-interaction
    *ngSwitchCase="'component-interaction'"
  ></app-component-interaction>
  <app-input-output *ngSwitchCase="'diy4'"></app-input-output>
  <app-lifecycle *ngSwitchCase="'lifecycle'"></app-lifecycle>

  <!-- Day69-13Nov -->
  <app-lifecycle *ngSwitchCase="'app-lifecycle'"></app-lifecycle>
  <!-- <app-dependency-injection *ngSwitchCase="''"></app-dependency-injection> -->
  <app-todo-interaction
    *ngSwitchCase="'todo-interaction'"
  ></app-todo-interaction>
  <app-counter-with-services
    *ngSwitchCase="'counter-with-services'"
  ></app-counter-with-services>

  <!-- Day70-15Nov -->
  <app-todo-with-services
    *ngSwitchCase="'todo-with-services'"
  ></app-todo-with-services>
  <app-observables *ngSwitchCase="'observables'"></app-observables>
  <app-plus-minus-service
    *ngSwitchCase="'plus-minus-service'"
  ></app-plus-minus-service>
  <app-rx-example *ngSwitchCase="'morse-code'"></app-rx-example>

  <!-- Day71-20Nov -->
  <app-routing *ngSwitchCase="'routing'"></app-routing>

  <!-- Day72-22Nov -->
  <app-more-routing *ngSwitchCase="'more-routing'"></app-more-routing>

  <!-- Day73-27Nov -->
  <app-pipes *ngSwitchCase="'pipes'"></app-pipes>

  <!-- Day74-29Nov -->
  <app-pipes-exercise *ngSwitchCase="'pipes-exercise'"></app-pipes-exercise>
  <app-template-driven-forms
    *ngSwitchCase="'template-driven-forms'"
  ></app-template-driven-forms>
  <app-reactive-forms *ngSwitchCase="'reactive-forms'"></app-reactive-forms>

  <!-- Day75-04Dec -->
  <app-reactive-forms-exercise
    *ngSwitchCase="'reactive-forms-exercise'"
  ></app-reactive-forms-exercise>

  <!-- Day76-06Dec -->
  <app-firebase *ngSwitchCase="'firebase'"></app-firebase>

  <!-- Day77-11Dec -->
  <app-todo-firebase *ngSwitchCase="'todo-firebase'"></app-todo-firebase>
  <app-http-client *ngSwitchCase="'http-client'"></app-http-client>

  <!-- Day77-11Dec -->
  <app-angular-material
    *ngSwitchCase="'angular-material'"
  ></app-angular-material>
</ng-container>
