<nav class="bg-baseColor px-4 rounded-xl flex flex-col justify-between">
  <ul class="flex flex-col">
    <ng-container *ngFor="let route of navbarRoutes">
      <li
        routerLink="{{ route.path }}"
        routerActiveLink="text-red-500"
        class="uppercase text-xl font-bold text-white text-left w-full cursor-pointer px-2 py-4"
      >
        {{ route.name }}
      </li>
    </ng-container>
  </ul>
  <button
    class="uppercase text-xl font-bold text-white text-left w-full cursor-pointer px-2 py-4"
    (click)="onSubmit()"
  >
    LOG OUT
  </button>
</nav>
