<section class="border-black/25 border-2 rounded-md m-4">
  <form class="flex p-4">
    <input type="text" placeholder="Search name" />
    <label>
      <div>From</div>
      <input type="date" />
    </label>
    <label>
      <div>To</div>
      <input type="date" />
    </label>
    <label>
      <div>Filter by</div>
      <select name="filterBy" id="filterBy">
        <option value="">--select--</option>
        <option value="byDate">By date</option>
        <option value="byEndTime">By end time</option>
        <option value="byStartTime">By start time</option>
        <option value="byStartTime">By start time</option>
        <option value="byWage">By wage</option>
        <option value="byRevenue">By revenue</option>
      </select>
    </label>
    <label
      ><div>Sorter by</div>
      <select name="orderBy" id="orderBy">
        <option value="">--select--</option>
        <option value="asc">Ascending</option>
        <option value="dsc">Descending</option>
      </select></label
    >
  </form>
  <div class="shifts">
    <ul class="px-4">
      <li class="flex items-center justify-evenly">
        <div>Item</div>
        <div>ID</div>
        <div>Date</div>
        <div>Start Time</div>
        <div>End Time</div>
        <div>Wage</div>
        <div>Revenue</div>
      </li>
    </ul>
    <ul *ngFor="let shift of myShifts; let index = index" class="px-4">
      <li class="flex items-center justify-evenly">
        <div>{{ index + 1 }}</div>
        <div>{{ shift.shiftID }}</div>
        <div>{{ shift.shiftDate }}</div>
        <div>{{ shift.startTime }}</div>
        <div>{{ shift.endTime }}</div>
        <div>{{ shift.wagePerHour }}</div>
        <div>{{ shift.shiftRevenue }}</div>
      </li>
    </ul>
  </div>
</section>
