<section class="shadow-xl rounded-md m-4 bg-white">
  <div class="flex gap-4 p-4">
    <form
      class="flex-1 flex items-center justify-between p-2 shadow-all-sides rounded-md"
    >
      <label>
        <div>Shift Workplace:</div>
        <input
          type="text"
          name="workplace"
          placeholder="Search..."
          [(ngModel)]="shiftNameQuery"
          class="border-2 p-1 rounded-md"
        />
      </label>
      <label>
        <div>From:</div>
        <input
          type="date"
          name="startDate"
          [(ngModel)]="shiftStartDateQuery"
          class="border-2 p-1 rounded-md"
        />
      </label>
      <label>
        <div>To:</div>
        <input
          type="date"
          name="endDate"
          [(ngModel)]="shiftEndDateQuery"
          class="border-2 p-1 rounded-md"
        />
      </label>
      <div class="w-[0.5px] h-full bg-slate-300"></div>
      <label>
        <div>Sorter by:</div>
        <select
          name="sorterBy"
          id="sorterBy"
          class="border-2 p-1 rounded-md"
          [(ngModel)]="sorterByQuery"
        >
          <option *ngFor="let filter of sorterBy" value="{{ filter.value }}">
            {{ filter.name }}
          </option>
        </select>
      </label>
      <label
        ><div>Asc / Dsc:</div>
        <select
          name="orderBy"
          id="orderBy"
          class="border-2 p-1 rounded-md"
          [(ngModel)]="orderByQuery"
        >
          <option *ngFor="let filter of orderBy" value="{{ filter.value }}">
            {{ filter.name }}
          </option>
        </select></label
      >
      <div class="w-[0.5px] h-full bg-slate-300"></div>
      <button
        type="button"
        (click)="resetFilters()"
        class="p-4 shadow-all-sides rounded-md border-2 border-transparent hover:border-baseColor"
      >
        Reset
      </button>
    </form>
    <div
      class="flex flex-col items-center justify-center px-8 shadow-all-sides rounded-md"
    >
      <div>Shifts:</div>
      <span class="font-bold text-[24px]">{{ shiftsCount }}</span>
    </div>
  </div>
  <div class="">
    <ul class="px-4">
      <li
        class="flex items-center justify-evenly gap-x-1 p-2 border-2 border-transparent"
      >
        <div
          *ngFor="let head of tableHeadInfo"
          class="flex-1 bg-slate-500 text-white text-center"
        >
          {{ head }}
        </div>
      </li>
    </ul>
    <ul
      *ngFor="
        let shift of myShifts
          | customFilter
            : shiftNameQuery
            : shiftStartDateQuery
            : shiftEndDateQuery
          | customSorter : sorterByQuery : orderByQuery;
        let index = index
      "
      class="p-4 relative"
    >
      <div
        class="absolute top-[10px] right-[10px] flex items-center justify-center bg-red-500 text-white text-bold w-[30px] h-[30px] rounded-[50%] cursor-pointer"
        (click)="deleteShift(shift.shiftID)"
      >
        X
      </div>
      <li
        class="flex items-center justify-evenly gap-x-1 shadow-lg border-2 border-transparent"
        (click)="editShift(shift.shiftID)"
      >
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.shiftID | slice : 0 : 9 }}...
        </div>
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.shiftDate }}
        </div>
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.startTime }}
        </div>
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.endTime }}
        </div>
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.workplace }}
        </div>
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.wagePerHour }}
        </div>
        <div class="p-2 flex-1 bg-slate-500 text-white text-center">
          {{ shift.shiftRevenue }}
        </div>
      </li>
    </ul>
  </div>
</section>
