.game-container {
  display: grid;
  place-items: center;
  width: max-content;
  padding: 1em;
  border: 5px solid black;
  background-color: lightblue;
}

button {
  padding: 1em;
}

button:first-child {
  background-color: green;
}

button:last-child {
  background-color: red;
}

button:disabled {
  background-color: grey;
}
