@use './utils/globalClasses' as *;

.homepage__modals {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;

  &__add__shift,
  &__edit__profile {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    @extend %flex-row;
    height: 100%;
    display: none;

    form {
      position: absolute;
      @extend %flex-column;
      gap: 20px;
      background-color: white;

      padding: 60px;

      input {
        width: 300px;
        height: 40px;
      }

      > button {
        padding: 10px 40px;
      }
    }
  }
}
