@use './utils/globalClasses' as *;
@use './utils/colors' as *;

.navigation {
  background-color: $light-base-color;
  padding-block: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 10px rgba($black, $alpha: 0.4);

  &__container {
    @extend %flex-row;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;

    .navigation__logo {
      color: $dark-base-color;
      font-size: 18px;
    }

    .navigation__links {
      ul {
        @extend %flex-row;
        gap: 10px;

        a {
          background-color: $mild-base-color;
          padding: 10px 20px;
          text-decoration: none;
          color: $black;
          font-size: 16px;
          font-weight: 600;
          border-radius: 10px;
          transition: all 0.25s ease-in-out;
          cursor: pointer;

          &:hover {
            box-shadow: 0 0 5px rgba($black, $alpha: 0.4);
          }

          &.selected {
            background-color: transparent;
            border: 2px solid $mild-base-color;
          }
        }
      }
    }

    .navigation__account {
      @extend %flex-row;
      gap: 10px;

      #navigation__account__greeting {
        font-style: italic;
        > span {
          font-weight: 900;
          font-style: normal;
          color: $dark-base-color;
        }
      }

      &__profile {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $dark-base-color;
      }
    }
  }
}

@media (width < 1200px) {
  .navigation {
    &__container {
      padding-inline: 40px;
      justify-content: space-evenly;
      .navigation__logo {
        display: none;
      }

      .navigation__account {
        #navigation__account__greeting {
          display: none;
        }
        &__profile {
          display: none;
        }
      }
    }
  }
}
