<div class="center gap-4 mb-[50px]">
  <form
    [formGroup]="userProfileForm"
    (ngSubmit)="onSubmit()"
    class="flex-1 flex flex-col gap-3 w-[600px]"
  >
    <label *ngFor="let input of settingsFormInputs" class="flex">
      <div class="flex-1">{{ input.name }}</div>
      <input
        formControlName="{{ input.formControl }}"
        type="{{ input.type }}"
        class="flex-2 border-2 border-black/50 w-[400px] p-2 rounded-[8px]"
      />
    </label>
    <button type="submit" class="p-2 bg-baseColor text-white">
      Update information
    </button>
  </form>
  <div class="flex-1 flex items-center justify-center">
    <label class="flex flex-col">
      <div>Upload profile picture</div>
      <input type="file"
    /></label>
    <div
      class="rounded-[50%] overflow-hidden border-[3px] border-baseColor shadow-2xl"
    >
      <img src="https://picsum.photos/250" alt="" />
    </div>
  </div>
</div>
