<div class="form">
  <input type="text" placeholder="FirstName" [(ngModel)]="userData.firstName" />
  <input type="text" placeholder="LastName" [(ngModel)]="userData.lastName" />
  <input type="text" placeholder="Email" [(ngModel)]="userData.email" />
  <input type="text" placeholder="Password" [(ngModel)]="userData.password" />
  <input
    type="text"
    placeholder="Confirm password"
    [(ngModel)]="userData.confirmPassword"
  />
  <button (click)="updateUserData()">Update data</button>
</div>

<h2>Profile picture</h2>
<img [src]="this.httpRequest.apiData.message" alt="dog image" />

<!-- Observables  -->
<p>-- Observables --</p>
<button (click)="addItem()">Add item</button>
<div *ngIf="!loading">
  <ul *ngFor="let item of items; let i = index">
    <li>User: {{ i }}</li>
    <li>{{ item }}</li>
  </ul>
</div>
<div *ngIf="loading">Data is loading...</div>
