* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  background-color: yellowgreen;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  display: flex;
}

button:hover {
  box-shadow: 2px 2px 10px black;
}

/* NAVIGATION */

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  background-color: black;
  padding: 10px;

  position: sticky;
  top: 0;
  left: 0;
}

nav {
  background-color: black;
}

.menu {
  cursor: pointer;
  display: none;
}

.menu:hover + nav {
  display: block;
}

.navigation nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navigation nav ul li {
  padding: 10px;
  font-size: 25px;
}

@media (max-width: 768px) {
  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    border-top: 1px solid white;
  }

  nav ul {
    flex-direction: column;
  }

  .menu {
    display: block;
  }
}

/* MAIN */

main {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 15px;
}

main article {
  flex-basis: 500px;
  border: 2px solid black;
  padding: 15px;
}

main article > img {
  float: left;
  margin-right: 15px;
}

main article > p {
  text-align: justify;
}

main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.show__text__on__mobile {
  display: none;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  main article {
    width: auto;
  }

  .show__text__on__mobile {
    display: block;
  }

  .show__text__on__web {
    display: none;
  }
}

/* GET MOBILE APP */

footer {
  position: relative;
}

.install__mobile__app {
  padding: 15px;
  border: 2px solid brown;

  position: fixed;
  bottom: 15px;
  right: 15px;

  background-color: white;
}

.call__us {
  display: none;

  position: fixed;
  bottom: 15px;
  right: 15px;
}

@media (max-width: 768px) {
  .install__mobile__app {
    display: none;
  }

  .call__us {
    display: block;
  }
}

/* BONUS */

@media only print {
  .install__mobile__app {
    display: none;
  }

  .call__us {
    display: none;
  }

  button {
    display: none;
  }
}
