/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

// body {
//   overflow-x: hidden;
// }
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:disabled {
  opacity: 0.5;
  filter: grayscale(1);
  cursor: not-allowed;
}
