.menu-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-bottom: 20px;
  padding: 20px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px black;
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
  }

  &:first-child,
  &:last-child {
    flex: 1 0 70%;
  }
}
